:root{
  --primary-color: #f05945;/*red*/
  --secondary-color: #f9f3f3;/*white*/
  --accent-color: #393232;/*grey*/
  --poke-accent-color: #3d7dca; /*blue*/
  --poke-yellow: #ffcb05;/*yellow*/
}


body {
  font-size: 15px;
  font-family:'Acme', sans-serif;
  padding: 20px;
  text-align: center;
  background-image:url(https://files.wallpaperpass.com/2019/10/pikachu%20wallpaper%20105%20-%201230x735.jpg);
  background-attachment: fixed;
  width: 100%;
}

h1 {
  color: #393232;
  font-family: 'Bangers', monospace;
  font-size: 100px;
}


#navi {
  color: #393e46;
  border: 10px solid var(--poke-accent-color);
  background-color: var(--poke-yellow);
}

#pokedex-img {
  margin-left: 25px;
}

#pokemon-list{
  text-align: center;
  margin: 40px auto;
  max-width: 600px;
  min-width: 300px;

}

.pokedex-button{
    border: 5px solid var(--poke-accent-color);
    background-color: var(--primary-color);
    color: var(--accent-color);
    width: 600px;
    height: 70px;
    font-family:'Acme', sans-serif;
    font-size: 30px;
    font-weight: 500;

    margin: 10px auto;
    /*adds spacing to the button */
    border-radius: 8px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA forma */
    transition-duration: 0.2s;opacity:
  }
  button:hover, button:focus,
  .button:hover, .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    color: var(--secondary-color);
  }
