:root{
  --primary-color: #f05945;/*red*/
  --secondary-color: #f9f3f3;/*white*/
  --accent-color: #393232;/*grey*/
}

body {
  font-size: 15px;
  font-family:'Acme', sans-serif;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #393232;
  font-family: 'Bangers', monospace;
  font-size: 100px;
}

.modal-body {
  text-align: center;
}

navbar {
  color: #393e46;
}

#pokemon-list{
  text-align: center;
  width: 110px;
  margin: 40px 880px;

}

.pokedex-button {
    border: none;
    background-color: var(--primary-color);
    color: var(--accent-color);
    width: 200px;
    height: 100px;
    font-family:'Acme', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 10px auto;
    /*adds spacing to the button */
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA forma */
    transition-duration: 0.2s;opacity:
  }
  button:hover, button:focus,
  .button:hover, .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    color: var(--secondary-color);
  }

  #pokedex-search {
    margin-right: 50px;
  }
