:root{
  --primary-color: #f05945;/*red*/
  --secondary-color: #f9f3f3;/*white*/
  --accent-color: #393232;/*grey*/
}

#pokemon-list{
  text-align: center;
  margin: auto 885px;
}

.pokedex-button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--accent-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--font-weight-700);
    /*adds spacing to the button */
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA forma */
    transition-duration: 0.2s;opacity:
  }
  button:hover, button:focus,
  .button:hover, .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    color: var(--secondary-color);
  }

.is-visible {
  display: block;
}
.modal-content {
    background-color: ;
    border-radius: 3px;
    color: ;
    text-transform: capitalize;
}
